/* 
==============================================
CONTENT:	Project Name Here
AUTHOR:		Your Name Here
==============================================

TABLE OF CONTENTS:

0. Reset
1. Main Layout
2. Content

==============================================
*/

/* 0. Reset ================================= */
@import 'reset';

$campJose:'Josefin Sans', sans-serif;
$campFred:'Fredericka the Great', cursive;
$campVast:'Vast Shadow', cursive;

$campWhite: #ffffff;
$campRed: #d25941;
$campGold: #fcc653;
$campPurp: #5f0F40;
$campTang: #f90c38;


/* 1. Main Layout ================================= */

html,body{
	height: 100%;
}

* {
	box-sizing: border-box;
}

body {
	background:rgb(136, 115, 115);
	max-width: 1200px;
	margin:0 auto;
}




/* 2. Content ================================= */

.row{
	display: flex;
	flex-direction: row;
	justify-content: space-between;

	.column{
		width:50%;
		
	}

	.slideshow{
		display: flex;
		background-color:$campTang;

		
	}

	.about-me{
		display: flex;
		flex-direction: column;
		justify-content: center;
		background-color: $campGold;
		padding:5%;
		font-family: $campJose;
		font-size:1rem;
		line-height: 1.4rem;

		h1{
			font-family: $campVast;
			font-size: 2.25rem;
			margin:2%;
		}
		h2{
			font-family: $campJose;
			font-size: 2rem;
			margin:4%;
		}

		p{
			width:100%;
			margin:4%;
			
		}

		button{
			width:50%;
			height: 50px;
			margin:4%;
			background-color: $campRed;
			font-size: 1rem;
			font-family: $campJose;
		}
	}
}

footer{
	width:100%;
	height: 25%;
	background-color: $campPurp;
}