/* 
==============================================
CONTENT:	Project Name Here
AUTHOR:		Your Name Here
==============================================

TABLE OF CONTENTS:

0. Reset
1. Main Layout
2. Content

==============================================
*/

/* 0. Reset ================================= */
@import 'reset';

$campJose:'Josefin Sans', sans-serif;
$campFred:'Fredericka the Great', cursive;
$campVast:'Vast Shadow', cursive;

$campWhite: #ffffff;
$campRed: #d25941;
$campGold: #fcc653;
$campPurp: #5f0F40;
$campTang: #f90c38;

$tablet: "(min-width: 600px)";


/* 1. Main Layout ================================= */

html,body{
	height: 100%;
}

* {
	box-sizing: border-box;
}

body {
	background: $campGold;
	max-width: 1200px;
	margin:0 auto;
	overflow: hidden;
	// background-image: url(/dist/img/tacoSet2.png);
	// background-repeat: repeat;
	// background-size:contain; 

	@media #{$tablet}{
		background-color: $campRed;
	}

}




/* 2. Content ================================= */

.overflow-wrapper{
	width: 100%;
	height: auto;
	overflow: hidden;
	

	.about-me{
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		width: 100%;
	
	
		@media #{$tablet}{
			flex-direction: row;
			flex-direction: row-reverse;
		}
	
	
		.bkgrnd-angle{
			// width:100%;
			// height: 100%;
			// position: absolute;
			// background-color: aqua;
			// z-index: -100;
			// overflow: hidden;
	
			position: absolute;
			top: -45%;
			z-index: -100;
			width: 170%;
			height: 170%;
			transform-origin: top left;
			background-color: $campTang;
			border-color: transparent transparent #000000 transparent;
			transform: rotate(45deg);
			
			@media #{$tablet}{
				background-color: $campGold;
			}
			
			
		}
	
		.column{
			width:100%;
	
			@media #{$tablet}{
				width:50%;
			}
			
		}
	
		.slideshow{
			// display: flex;
			position: relative;
	
			.slide{
				position: absolute;
				left: 0;
				top: 0;
				// display: none;
				
				.picture{
					position: relative;
					width: 40%;
					left:30%;
					z-index: 100;
	
					@media #{$tablet}{
						width: 80%;
						left:20%;
					}
				}

				&.slide0 {
					.stamp {
						position: absolute;
						left: 0;
						top: 0;
						width: 100%;
					}
				}
			}
			
		}
	
		.bio{
			display: flex;
			flex-direction: column;
			justify-content: center;
			padding:5%;
			font-family: $campJose;
			font-size:1rem;
			line-height: 1.4rem;
			// @media #{$tablet}{
			// 	background-color: $campGold;
			// 	opacity: .8;
			// }
			
			
			
			h1{
				font-family: $campJose;
				font-size: 2.25em;
				margin:2%;
				
			}
			h2{
				font-family: $campJose;
				font-size: 2rem;
				margin:4%;
			}
			
			p{
				width:100%;
				margin:4%;
				padding:2%;
				
			}
	
			button{
				width:50%;
				height: 50px;
				margin:4%;
				background-color: $campRed;
				font-size: 1rem;
				font-family: $campJose;
			}
		}
	}

	footer{
		width:100%;
		height: 150px;
		background-color: $campPurp;
	}
}
