/* 
==============================================
CONTENT:	Project Name Here
AUTHOR:		Your Name Here
==============================================

TABLE OF CONTENTS:

0. Reset
1. Main Layout
2. Content

==============================================
*/

/* 0. Reset ================================= */
@import 'reset';

$campJose:'Josefin Sans', sans-serif;
$campFred:'Fredericka the Great', cursive;
$campVast:'Vast Shadow', cursive;

$campWhite: #ffffff;
$campRed: #d25941;
$campGold: #f2c96f;
$campPurp: #5f0F40;
$campTang: #f90c38;

$tablet: "(min-width: 600px)";


/* 1. Main Layout ================================= */

html,body{
	height: 100%;
}

* {
	box-sizing: border-box;
}

body {
	
	
	background: $campGold;
	max-width: 1200px;
	margin:0 auto;
	overflow: hidden;
	background-image:url(/dist/img/codeStamp.png);
	background-size: contain;
	background-position: center;

	@media #{$tablet}{
		// background-color: $campPurp;
		background-image:url(/dist/img/codeStamp.png);
		background-size: repeat;
		background-position: center;
	}

}




/* 2. Content ================================= */

.overflow-wrapper{
	width: 100%;
	height: auto;

	
	@media #{$tablet}{
		margin: 10% auto;
	}


	.about-me{
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		width: 100%;
	
	
		@media #{$tablet}{
			flex-direction: row;
			flex-direction: row-reverse;
		}
	

	
		.column{
			width:100%;
	
			@media #{$tablet}{
				width:50%;
			}
			
		}
	
		.slideshow{
			// display: flex;
			position: relative;
			background-color: $campPurp;
			height: 400px;

			@media #{$tablet}{
				height: auto;
				overflow: hidden;
			}
	
			.slide{
				position: absolute;
				left: 0;
				top: 0;
				
				// display: none;
				
				.picture{
					position: relative;
					width: 40%;
					left:25%;
					z-index: 100;
					opacity: 0;
					
					@media #{$tablet}{
						width: 70%;
						left:15%;
					}
				}
				
				.stamp{
					position: absolute;
					width: 100%; // style width per stamp when complete
				}
				
				&.slide0 {
				
					.stamp {
						left: -10px;
						top: 0;
					}

					.stampy{
						position: absolute;
						width: 30%;
						top:45%;
						right:0;
					}
				}
				
				&.slide1 {
					.stamp {
						left: 0;
						top: 0;	
					}


				}

				&.slide2 {
					.stamp {
						left: -10px;
						top: 0;
						
					}
				}
			}
			
		}
	
		.bio{
			display: flex;
			flex-direction: column;
			justify-content: center;
			padding:5%;
			font-family: $campJose;
			font-size:1rem;
			line-height: 1.4rem;
			// @media #{$tablet}{
				background-color: $campPurp;
			// 	opacity: .8;
			// }
			
			
			
			h1{
				width: 100%;
				font-family: $campJose;
				font-size: 1.9rem;
				margin:2%;
				color: $campGold;
				
			}
			h2{
				font-family: $campJose;
				font-size: 1.7rem;
				margin:4%;
				color: $campRed;
			}
			
			p{
				width:100%;
				margin:4%;
				padding:2%;
				
				
			}
	
			button{
				width:50%;
				height: 50px;
				margin:4%;
				background-color: $campRed;
				font-size: 1rem;
				font-family: $campJose;
				border:none;
			}
		}
	}

	.footer{
		background-color: $campPurp;
		width:100%;
		height: auto;
		color:white;
		display: flex;
		flex-direction: column;
		// position: absolute;
		// bottom:0;
		
		@media #{$tablet}{
			display: flex;
			flex-direction: row;
			justify-content: space-evenly;
		}
	
		// @media #{$desktop}{
		// 	display: flex;
		// 	flex-direction: row;
		// 	justify-content: space-evenly;
		// 	position: relative;
		// 	bottom:0;
		// }
	
		.footr{
			margin:5%;
			align-self: center;	
	
			h1{
				text-align: center;
				margin:10%;
			}
	
			li{
				margin:5% 0;
				color:white;
			}
		}
		
	}
}
